.navbar-nav {
  animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.underlined-text {
      border-bottom: 1px dotted #ffffff;
      margin-bottom: 20px;
    }
.content-divider {
      border-bottom: 1px dotted #ffffff; /* Garis titik-titik di bawah elemen h2 */
      margin-bottom: 20px; /* Ruang antara elemen h2 dan kontennya */
    }
/* styles.css */
.protected-text {
  user-select: none; /* Mencegah pemilihan teks */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none; /* Mencegah tindakan pointer, seperti klik dan seleksi */
}

#myList li {
  color: blue;
  cursor: pointer;
}

.gallery {
  display: flex;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 200px;
  display: block;
  max-width: 150px;
  max-height: 200px;
}

.close {
  color: white;
  
  top: 2px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
